<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>outZider</string>
	<key>CFBundleDisplayName</key>
	<string>lookup</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.lookup</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.6</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>Chrome</key>
	<dict>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>0</string>
				<key>Identifier</key>
				<string>0</string>
				<key>Title</key>
				<string>0</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>1</string>
				<key>Identifier</key>
				<string>1</string>
				<key>Title</key>
				<string>1</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>2</string>
				<key>Identifier</key>
				<string>2</string>
				<key>Title</key>
				<string>2</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>3</string>
				<key>Identifier</key>
				<string>3</string>
				<key>Title</key>
				<string>3</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>4</string>
				<key>Identifier</key>
				<string>4</string>
				<key>Title</key>
				<string>4</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>5</string>
				<key>Identifier</key>
				<string>5</string>
				<key>Title</key>
				<string>5</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>6</string>
				<key>Identifier</key>
				<string>6</string>
				<key>Title</key>
				<string>6</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>7</string>
				<key>Identifier</key>
				<string>7</string>
				<key>Title</key>
				<string>7</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>8</string>
				<key>Identifier</key>
				<string>8</string>
				<key>Title</key>
				<string>8</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>9</string>
				<key>Identifier</key>
				<string>9</string>
				<key>Title</key>
				<string>9</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>openSettingWindow</string>
				<key>Identifier</key>
				<string>openSettingWindow</string>
				<key>Image</key>
				<string>icon16x16.png</string>
				<key>Label</key>
				<string>lookup</string>
				<key>Palette Label</key>
				<string>lookup</string>
				<key>Tool Tip</key>
				<string>click to open the setting window</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>ページ内の単語やフレーズを辞書サイトで調べるための Safari Extension</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/outZider/lookup.safariextension/raw/master/update.plist</string>
	<key>Website</key>
	<string>http://github.com/outZider/lookup.safariextension</string>
</dict>
</plist>
